@import "../../styles/constants.scss";

.wrapper {
  width: 100%;
  margin: 1rem 0;
  padding-bottom: 6rem;

  // Services
  .services {
    .card {
      border-radius: 8px;
      //   border: 1px solid #d9d9d9;
      width: 100%;
      max-width: 350px;

      .image {
        width: 100%;
        height: 150px;
        object-fit: cover;
        vertical-align: middle;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #e4e5e7;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          vertical-align: middle;
          border-radius: 8px;
        }
      }

      .title {
        color: #121212;
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: 8px;
        margin-left: 5px;
        margin-right: 10px;
        overflow: hidden;
        cursor: pointer;
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 4px;
        color: #f4d222;
        font-size: 0.9rem;
        margin-left: 5px;
        margin-top: 4px;
      }

      .detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 12px;

        .age,
        .time {
          display: flex;
          align-items: center;
          gap: 5px;

          svg {
            font-size: 1.02rem;
            color: $primary;
          }

          span {
            color: #121212;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }

      .price {
        height: 46px;
        width: 100%;
        color: #fff;
        color: #000000;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        margin-top: 11px;
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }

  @media (max-width: 640px){
    &{
        .services{
            .card{
                max-width: 100%;
            }
        }
    }
  }
}
