@import "../../styles/constants.scss";

.wrapper {
  width: 100%;
  padding-bottom: 3rem;

  .formWrap {
    width: 90%;
    input,
    select {
      height: 3.2rem;
      width: 100%;
      border-radius: 12px;
      border-width: 2px;
      border-color: hsl(240 5.88% 90%);
      outline: none;
      padding-left: 1rem;
      --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
      --tw-shadow-colored: 0 1px 2px 0 ;
      box-shadow: var(0 0 #0000, 0 0 #0000),
        var(0 0 #0000, 0 0 #0000), 0 1px 2px 0 rgb(0 0 0 / 0.05);

      &::placeholder {
        font-size: 0.9rem;
        font-weight: 400;
      }
    }

    .customSelect {
      position: relative;
      display: inline-block;
      width: 100%;

      &::after {
        content: "▼";
        position: absolute;
        top: 53%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: gray;
        font-size: 0.9rem;
      }
    }

    select {
      padding-right: 30px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  @media (max-width: 640px){
    &{
        padding-bottom: 8rem;
        
        .formWrap{
            width: 100%;
        }
    }
  }
}
