@import "../../styles/constants.scss";

.dashboardDetails {
  width: 100%;
  margin: 0.8rem 10px;

  .top {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    width: calc(100% - 70px);
    max-width: 86%;
    margin: 0 auto;

    h1 {
      font-size: 30px;
      font-weight: 500;
    }

    svg {
      font-size: 19px;
      color: $primary;
    }
  }

  // Cards
  .cards {
    width: 100%;
    width: calc(100% - 70px);
    max-width: 86%;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 0 auto;
    margin-top: 1.8rem;

    .inner {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      height: 100%;

      &:nth-child(2) {
        .card {
          background-color: #ecf3f9;
        }
      }

      h3 {
        font-size: 23px;
        font-weight: 600;
      }

      .card {
        width: 100%;
        background-color: #fdf3f1;
        border-radius: 8px;
        padding: 16px 16px;

        .details {
          display: flex;
          align-items: center;
          gap: 11px;

          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }

          .name {
            display: flex;
            flex-direction: column;
            margin-top: 14px;

            p {
              font-size: 17px;
              font-weight: 500;
              margin-bottom: 0;
            }

            span {
              font-size: 15px;
              font-weight: 600;
            }
          }
        }

        .footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-top: 1.3rem;

          p {
            font-size: 15px;
            font-weight: 400;
            color: #a1aebf;
          }
        }
      }
    }

    .arrow {
      flex: 0.23;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 140px;
      flex-direction: column;
      margin-top: 1.6rem;

      svg {
        font-size: 3.4rem;
        color: $primary;
      }
    }
  }

  //   Table
  .bookingsTable {
    width: 100%;
    margin-top: 2.3rem;
    padding-bottom: 4rem;
    position: relative;

    .hoursHeading{
        position: absolute;
        left: 10px;
        top: 5.7rem;
        font-weight: 600;
    }

    h3 {
      font-size: 28px;
      font-weight: 600;
    }

    .table {
      display: flex;
      gap: 1.8rem;

      .hoursCol {
        display: flex;
        flex-direction: column;
        gap: 0.9rem;
        width: 70px;

        .item {
          font-size: 16px;
          font-weight: 400;
          color: #a1aebf;
          color: $primary;
          flex: 1;
          margin-bottom: 1.55rem;
          padding: 9px 16px;
        }
      }

      .tableData {
        width: calc(100% - 70px);
        max-width: 86.5%;

        .employeesTable {
          margin-top: 1.9rem;

          .tableHeader {
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #f6f6f6;
            margin-bottom: 1.55rem;
            border-radius: 8px;
            padding: 16px 22px;

            .item {
              flex: 1;
              font-size: 16px;
              font-weight: 600;
              letter-spacing: 0.3px;
              color: #222222;
              display: flex;
              justify-content: center;

              &:nth-child(1) {
                justify-content: flex-start;
              }
            }
          }

          .tableBody {
            width: 100%;

            .tableRow {
              width: 100%;
              display: flex;
              align-items: center;
              background-color: #f6f6f6;
              color: #000;
              margin-bottom: 1.55rem;
              border-radius: 8px;
              padding: 16px 22px;

              p {
                flex: 1;
                font-size: 16px;
                font-weight: 400;
                color: #000;
                display: flex;
                justify-content: center;

                &:nth-child(1) {
                  justify-content: flex-start;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px){
    &{
      margin: 0.8rem 0;
      margin-top: 0.6rem;

      .top{
        max-width: 100%;
        width: 100%;
        gap: 1.2rem;

        h1{
          font-size: 28px;
        }
      }

      .cards{
        width: 100%;
        max-width: 95%;
        flex-direction: column;
        gap: .9rem;
        align-items: stretch;
        margin-top: 2.2rem;

        .inner{

          h3{
            font-size: 20px;
          }
        }

        .arrow{
          flex: 1;
          transform: rotate(90deg);
          margin-top: .7rem;
          
          svg{
            font-size: 2.9rem;
          }
        }
      }

      .bookingsTable{
        margin-top: 3.3rem;

        h3{
          font-size: 25px;
        }

        .table{
          gap: .4rem;

          .hoursCol{
            width: 65px;

            .item{
              color: $primary;
            }
          }

          .tableData{

            .employeesTable{
              overflow-x: auto;
              scrollbar-width: none;

              .tableHeader{
                gap: 1.7rem;
                padding: 15px 18px;
                overflow-x: auto;
                scrollbar-width: none;
                width: max-content;

                .item{
                  font-size: 13px;
                  width: 120px;

                  &:nth-child(3){
                    width: 100px;
                  }

                  &:nth-child(3){
                    width: 100px;
                  }
                }
              }

              .tableBody{
                overflow-x: auto;
                scrollbar-width: none;
                width: max-content;

                .tableRow{
                  padding: 15px 18px;
                  gap: 1.7rem;
                  scrollbar-width: none;
                  
                  p{
                    font-size: 13px;
                    width: 120px;

                    &:nth-child(3){
                    width: 100px;
                  }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
