@import "../../styles/constants.scss";

.modalWrapper {
  .selectModal {
    position: fixed;
    top: 0;
    top: 4.6rem;
    right: 0;
    width: calc(100% - 90px);
    height: 100%;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: scroll;
    @include flexCenter;
    scrollbar-width: 2px;

    .selectCard {
      width: 100%;
      height: 100%;
      padding: 25px 60px;
      margin: auto;
      gap: 1.2rem;
      border-radius: 10px;
      overflow-y: scroll;
      background-color: #fff;
    padding-bottom: 7rem;

      .heading {
        color: #222;
        font-size: 33px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
      }

      .calendarWrapper {
        width: 100%;
        margin: 1.3rem auto;
      }

      .button{

        button{
          background-color: $primary;
          width: 10rem;
          height: 2.8rem;
          color: #fff;
          border-radius: 2rem;
        }
      }
    }

    @media (max-width: 768px){
      &{
        width: 100%;
        scrollbar-width: none;
        top: 4.3rem;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;

        .selectCard{
          padding: 28px 0px;
          scrollbar-width: none;
          max-width: 86%;

          .heading{
            font-size: 22px;
            margin-bottom: 2.8rem;
            font-weight: 500;
          }

          .calendarWrapper{
            width: 94%;
          }

          .button{

            button{
              margin-top: 1.5rem;
              height: 2.4rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
