@import "../../styles/constants.scss";

.services {
  width: 100%;
  margin: 0.6rem auto;
  padding-left: 0.4rem;

  .headingTop {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 30px;
      font-weight: 500;
    }

    .bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 23px;
        font-weight: 500;
        color: #3c3b3b;
      }

      button {
        @include button($width: 10.7rem, $height: 2.8rem);
        font-size: 16px;
        gap: 10px;
      }
    }
  }

  .cards {
    width: 100%;
    margin-top: 2.4rem;
    padding-bottom: 6rem;

    .card {
      width: 100%;
      padding: 9px 11px;
      border-radius: 16px;

      header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #3c3b3b;
        padding-bottom: 11px;

        .left {
          display: flex;
          align-items: center;
          gap: 9px;

          p {
            color: $textSecondary;
            font-size: 19px;
            font-weight: 400;
          }

          svg {
            color: $primary;
            font-size: 20px;
            cursor: pointer;
          }
        }

        .icon {
          color: $primary;
          font-size: 20px;
          cursor: pointer;
          margin-right: 4px;
        }
      }

      .tags {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
        margin: 10px 0;
        margin-top: 15px;

        .tag {
          @include flexCenter;
          background-color: $primaryLight;
          color: #fff;
          border-radius: 200px;
          padding: 4px 14px;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .user {
        width: 100%;
        display: flex;
        gap: 11px;
        align-items: center;
        margin: 17px 0;
        margin-bottom: 13px;

        svg {
          font-size: 20px;
          color: $primaryLight;
        }

        p {
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.3px;
        }
      }

      .timeInfo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        margin-top: 0px;
        border-bottom: 1px solid #3c3b3b;
        padding-bottom: 14px;

        .left {
          display: flex;
          align-items: center;
          gap: 11px;

          svg {
            color: $primaryLight;
            font-size: 21px;
          }

          span {
            font-size: 16px;
            font-weight: 400;
          }
        }

        .right {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 8px 5px;
        margin-top: 12px;

        svg {
          color: $primaryLight;
          font-size: 21px;
          margin-right: 9px;
          cursor: pointer;
        }

        p {
          font-size: 19px;
          font-weight: 400;
          color: $textSecondary;
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      padding-left: 0;

      .headingTop {
        h1 {
          font-size: 28px;
        }

        .bottom {
          justify-content: flex-end;

          button {
            height: 2.5rem;
            width: 9.5rem;
            gap: 5px;
          }
        }
      }

      .cards{
        margin-top: 2.1rem;
        gap: 1.2rem;
        padding-bottom: 5rem;
      }
    }
  }
}

.errorSpan {
  font-size: 0.82rem;
  color: $error;
  margin-top: -8px;
}

//   Add New Service
.addService {
  width: 100%;
  margin: 0.7rem auto;

  .heading {
    font-size: 28px;
    font-weight: 500;
  }

  form {
    width: 100%;
    margin-top: 2.5rem;
    padding-bottom: 6rem;

    .inputContainer {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.9rem;

      label {
        font-size: 18px;
        font-weight: 500;
        color: #212121;
      }

      .input {
        position: relative;
        width: 100%;
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      margin-top: 2.6rem;

      button {
        @include button($width: 9.5rem, $height: 2.6rem);
        font-size: 16px;
        gap: 10px;

        &:nth-child(1) {
          width: 8.5rem;
          background-color: transparent;
          border: 2px solid $primary;
          color: $primary;
        }
      }
    }
  }

  @media (max-width: 768px){
    &{

      form{
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
        
        .inputContainer{
          gap: 0.8rem;

          label{
            font-size: 17px;
          }
        }

        .buttons{
          margin-top: 3.6rem;
        }
      }
    }
  }
}
