@import "../../../styles/constants.scss";

.paymentStepWrapper {
  width: 100%;
  min-height: 50vh;

  .heading {
    color: #333333;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
  }

  .nextButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      @include button($width: 11rem, $height: 3rem);
      // margin: 3.6rem auto;
      // margin-bottom: 8rem;
    }
  }
}
