@import "../../styles/constants.scss";

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  position: relative;
  scrollbar-width: none;

  .wrapperInner {
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      margin-top: 4.7rem;
      position: relative;
      margin-left: 90px;

      @media (max-width: 768px) {
        & {
          margin-left: 0;
        }
      }

      .mainContent {
        width: calc(100% - 90px);
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        @media (max-width: 768px) {
          & {
            width: 100%;
          }
        }

        .dashboardContent {
          width: 100%;
          height: 100%;
          display: flex;
          gap: 1.8rem;
          padding: 1.15rem 2.7rem;

          .left {
            width: 100%;
            h3 {
              font-size: 1.4rem;
              font-weight: 800;
              letter-spacing: 0.3px;
              color: #3a3a3a;
            }
          }

          .right {
            width: 100%;
          }

          @media (max-width: 1366px) {
            & {
              padding: 0.5rem 2.7rem;

              .left {
                h3 {
                  font-size: 1.28rem;
                }
              }
            }
          }

          @media (max-width: 768px) {
            & {
              padding: 1.25rem 1.6rem;
            }
          }
        }
      }
    }
  }
}
