@import "../../styles/constants.scss";

.wrapper {
  width: 100%;
  margin: 0.6rem auto;
  padding-left: 0.4rem;

  .headingTop {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 30px;
      font-weight: 500;
    }

    .bottom {
      width: 100%;

      p {
        font-size: 23px;
        font-weight: 500;
        color: #3c3b3b;
      }
    }
  }

  .topCards {
    width: 100%;
    margin-top: 1rem;

    .cardTop {
      width: 100%;
      padding: 13px 15px;
      border-radius: 8px;
      background-color: #f0f9f6;
      display: flex;
      flex-direction: column;
      gap: 9px;

      &:nth-child(1) {
        background-color: #fdf3f1;
      }

      &:nth-child(2) {
        background-color: #f0f9f6;
      }

      &:nth-child(3) {
        background-color: #ecf3f9;
      }

      &:nth-child(4) {
        background-color: #f2f1ff;
      }

      &:nth-child(5) {
        background-color: #01ab8e;
        color: #fff;

        .line {
          background-color: #fff;
        }
      }

      h3 {
        font-size: 18px;
        font-weight: 400;
      }

      .line {
        width: 42%;
        height: 4px;
        background-color: #000;
      }

      .time {
        display: flex;
        justify-content: flex-end;
        margin-top: 11px;

        p {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }

  // .bottomCards {
  //   width: 100%;
  //   margin-top: 1.5rem;
  //   display: flex;
  //   align-items: center;

  .cardBottom {
    // flex: 1;
    // background-color: #f0f9f6;
    border-radius: 8px;
    // padding: 13px 15px;
    // display: flex;
    // align-items: center;
    // gap: 18px;
    // gap: 1.25rem;

    // &:nth-child(2) {
    //   flex: 1.56;
    //   // background-color: #fdf3f1;
    // }

    .subCard:nth-child(2) {
      h3 {
        margin-bottom: 1px;
      }

      .line {
        margin-top: 4px;
      }

      .value {
        bottom: 6px;
      }
    }

    .subCard:nth-child(1) {
      .value {
        p {
          font-size: 23px !important;
        }
      }
    }

    .subCard {
      flex: 1;
      background-color: #ebebeb;
      border-radius: 8px;
      padding: 12px 13px;
      height: 137px;
      position: relative;

      &:nth-child(2) {
        background-color: #d9d8e7;
        background: radial-gradient(
          788px at 0.7% 3.4%,
          rgb(183, 240, 208) 0%,
          rgb(255, 255, 255) 50%
        );
      }

      &:nth-child(3) {
        background-color: #b6e1e0;
        background: linear-gradient(
          to top,
          #dad4ec 0%,
          #dad4ec 1%,
          #f3e7e9 100%
        );
      }

      &:nth-child(1) {
        background: radial-gradient(
          circle at 18.7% 37.8%,
          rgb(250, 250, 250) 0%,
          rgb(225, 234, 238) 90%
        );
      }

      &:nth-child(4) {
        background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      }

      &:nth-child(5) {
        background: radial-gradient(
          circle at 10% 20%,
          rgb(242, 235, 243) 0%,
          rgb(234, 241, 249) 90.1%
        );
      }

      h3 {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 6px;
      }

      span {
        font-size: 14px;
        font-weight: 400;
      }

      .line {
        width: 47%;
        height: 4px;
        background-color: #000;
        display: flex;
        margin-top: 14px;
      }

      .value {
        display: flex;
        justify-content: flex-end;
        margin-top: 9px;
        position: absolute;
        bottom: 11px;
        right: 17px;

        p {
          font-size: 13px;
          font-weight: 500;
          color: #212121;
        }
      }
    }
  }
  // }

  //   Graph
  .graph {
    margin-top: 1.8rem;
    padding-bottom: 3rem;

    h3 {
      font-size: 23px;
      font-weight: 500;
    }

    .graphContainer {
      width: 100%;
      margin: 1rem auto;
    }
  }

  @media (max-width: 768px){
    &{
      padding-left: 0;

      .topCards{

        .cardTop{
          position: relative;
          height: 140px;

          h3{
            font-size: 17px;
          }

          .time{
            position: absolute;
            bottom: 10px;
            right: 11px;
          }
        }
      }

      .cardBottom{

        .subCard{
          height: 155px;

          .line{
            margin-top: 9px;
          }
        }
      }
    }
  }
}
