@import "../../styles/constants.scss";

.dashboardDetails {
  width: 100%;
  margin: 0.92rem 10px;

  .top {
    display: flex;
    align-items: center;
    gap: 1.4rem;

    h1 {
      font-size: 30px;
      font-weight: 500;
    }

    svg {
      font-size: 19px;
      color: $primary;
    }
  }

  // Categories
  .categories {
    width: 100%;
    margin: 2.2rem 0;

    .item {
      border: 1px solid rgba($color: #000000, $alpha: 0.15);
      border-radius: 8px;
      @include flexCenter;
      flex-direction: column;
      gap: 14px;
      padding: 2.7rem 0;
      cursor: pointer;

      svg {
        font-size: 3.5rem;
        color: $primary;
      }

      p {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  // Appointments
  .queuesWrap {
    width: 100%;
    margin: 1rem 0;

    & > h3 {
      font-size: 25px;
      font-weight: 500;
    }

    .queues {
      width: 100%;
      margin: 1rem 0;

      .card {
        border: 1px solid rgba($color: #000000, $alpha: 0.15);
        border-radius: 12px;

        .cardHeader {
          width: 100%;
          padding: 1.4rem 1.3rem;
          @include flexCenter;
          justify-content: flex-end;

          .cardTitle {
            background: $primary;
            @include flexCenter;
            border-radius: 100px;
            padding: 4px 13px;
            margin-left: auto;

            h4 {
              font-size: 14px;
              color: $white;
              font-weight: 500;
            }
          }
        }

        .cardBody {
          width: 100%;
          padding: 2.2rem 1.3rem;
          padding-bottom: 1.4rem;

          p {
            font-size: 1.26rem;
            font-weight: 600;
          }
        }

        .cardFooter {
          width: 100%;
          background-color: $primary;
          padding: 1.1rem 1.3rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;

          p {
            color: #fff;
            font-size: 0.95rem;
            font-weight: 500;
          }
        }
      }
    }
  }

  // Business
  .business {
    width: 100%;
    margin: 2rem 0;
    padding-bottom: 7rem;

    .card {
      border-radius: 8px;
      padding: 1.3rem 1.2rem;
      background-color: #f6f6f6;
      display: flex;
      gap: 14px;
      cursor: pointer;

      .image {
        width: 65px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          vertical-align: middle;
          border-radius: 50%;
        }
      }

      .data {
        width: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 500;
        color: rgba($color: #000000, $alpha: 0.8);
        gap: 5px;

        .name {
          color: rgba($color: #000000, $alpha: 0.8);
          font-weight: 600;
          font-size: 17px;
        }

        .desc{
          font-size: .9rem;
        }

        .address{
          font-size: .9rem;
        }
      }
    }
  }
}
