@import "../../styles/constants.scss";

.wrapper {
  width: 100%;
  margin: 0.92rem 10px;

  .subCategories {
    width: 100%;
    margin: 2.2rem 0;

    .item {
      border: 1px solid rgba($color: #000000, $alpha: 0.15);
      border-radius: 8px;
      @include flexCenter;
      flex-direction: column;
      gap: 14px;
      padding: 1.5rem 1.4rem;
      cursor: pointer;

      svg {
        font-size: 3.5rem;
        color: $primary;
      }

      p {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      margin-top: 0rem;

      .subCategories {
        margin-top: 1.4rem;

        .item {
          padding: 0.8rem 1.1rem;
          gap: 16px;

          svg {
            font-size: 2.5rem;
          }

          .image {
            width: 40px;
            height: 40px;
          }

          p {
            font-size: 15px;
            font-weight: 600;
            text-align: center;
          }
        }
      }
    }
  }
}
