@import "@/styles/constants.scss";

.selectDateWrapper {
  width: 90%;
  margin: auto;

  .heading {
    color: #333333;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.7rem;
  }

  .calendarWrapper {
    width: 100%;
    margin: 1.3rem auto;
    margin-bottom: 1.9rem;
  }

  .nextButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      @include button($width: 11rem, $height: 3rem);
      // margin: 3.6rem auto;
      // margin-bottom: 8rem;
    }
  }

  @media (max-width: 768px) {
    & {
      width: 100%;
      margin: auto;
      margin-top: 0.5rem;

      .calendarWrapper {
        margin-bottom: 0rem;
      }

      .heading {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 1.2rem;
        text-align: center;
      }

      .nextButton {
        display: none;
      }

      .mobileBtn {
        margin-bottom: 1.5rem;
        margin-top: 37px;
        button {
          @include button($width: 11.5rem, $height: 2.7rem);
          font-size: 0.95rem;
        }
      }
    }
  }
}
