@import "../../styles/constants.scss";

.wrapper {
  width: 100%;
  margin: 0.92rem 10px;

  .top {
    display: flex;
    align-items: center;
    gap: 1.4rem;

    h1 {
      font-size: 30px;
      font-weight: 500;
    }

    svg {
      font-size: 19px;
      color: $primary;
    }
  }

  .queues {
    width: 100%;
    margin: 1.6rem 0;
    margin-bottom: 5rem;

    .inner {
      margin-bottom: 1rem;
      h3 {
        font-size: 1.25rem;
        font-weight: 500;
        color: #000;
        margin-bottom: 0.8rem;
      }
    }

    .card {
      border: 1px solid rgba($color: #000000, $alpha: 0.15);
      border-radius: 12px;

      .cardHeader {
        width: 100%;
        padding: 1rem 1rem;
        @include flexCenter;
        justify-content: flex-end;

        .cardTitle {
          @include flexCenter;
          border-radius: 100px;
          padding: 4px 13px;
          margin-left: auto;

          h4 {
            font-size: 14px;
            color: $white;
            font-weight: 500;
          }
        }
      }

      .cardBody {
        width: 100%;
        padding: 0.95rem 1.3rem;
        padding-bottom: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 1.11rem;
          font-weight: 600;
          max-width: 286px;
          @include limitText(286px);
        }

        button {
          font-size: 15px;
          font-weight: 500;
          color: $primary;
          background-color: transparent;
          border: none;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2px;
          // text-decoration: underline;
        }
      }

      .cardFooter {
        width: 100%;
        padding: 1.1rem 1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;

        p {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }

  .history {
    width: 100%;
    margin: 1.5rem 0;

    .heading {
      h3 {
        font-size: 1.3rem;
        font-weight: 500;
        color: #000;
        margin-bottom: 1rem;
      }
    }

    .card {
      border-radius: 12px;
      background-color: #f6f6f6;
      padding: 1.4rem 1.3rem;
      padding-bottom: 1.2rem;

      .item {
        width: 100%;
        margin-bottom: 0.95rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 17px;
          font-weight: 500;
          color: rgba($color: #000000, $alpha: 0.8);
        }

        span {
          font-size: 16px;
          font-weight: 500;
          color: rgba($color: #1c1c1c, $alpha: 0.5);
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      margin: 0.6rem auto;
      padding: 10px 0;
      width: 90%;

      .top {
        h1 {
          font-size: 20px;
          font-weight: 600;
        }
      }

      .queues {
        margin: 1rem 0;
        margin-bottom: 5rem;

        .inner {
          h3 {
            font-size: 1.08rem;
            margin-bottom: 0.7rem;
            margin-left: 1px;
          }
        }

        .card {
          .cardHeader {
            .cardTitle {
              padding: 3px 0px;
            }
          }

          .cardBody {
            padding: 0.1rem 1.1rem;
            padding-bottom: 1rem;

            p {
              font-size: 1.05rem;
              font-weight: 500;
              @include limitText(170px);
              max-width: 170px;
            }
          }

          .cardFooter {
            padding: 1rem 1.1rem;
            p {
              font-size: 1rem;
              font-weight: 400;
            }
          }
        }
      }

      .history {
        padding-bottom: 6rem;
        .card {
          padding: 1.2rem 1rem;

          .item {
            margin-bottom: 1.05rem;

            p {
              font-size: 14px;
              font-weight: 500;
              color: rgba($color: #000000, $alpha: 0.9);
            }

            span {
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
