@import "@/styles/constants.scss";

.testimonial-section .swiper-pagination {
  top: 16rem;
  display: none;
}

.testimonial-swiper .swiper-slide:last-child {
  margin-right: 0 !important;
}

.testimonial-swiper
  .swiper-slide-active
  + .swiper-slide-next
  + .swiper-slide-next
  + .swiper-slide-next {
  margin-right: 0 !important;
}

.testimonial-section .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: $primary;
  opacity: 0.5;
}

.testimonial-section .swiper-pagination-bullet-active {
  opacity: 1;
  background: $primary;
}

.testimonial-section .swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .testimonial-section .swiper-wrapper {
    min-height: 290px;
  }

  .testimonial-swiper .swiper-slide{
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .testimonial-section .swiper-wrapper {
    min-height: 240px;
  }

  .testimonial-swiper .swiper-wrapper{
    min-height: 250px !important;
  }

  .testimonial-swiper .swiper-slide{
    width: 270px !important;
    margin-right: 20px !important;
  }

  /* Add this to ensure last slide aligns properly */
  .testimonial-swiper .swiper-slide:last-child {
    margin-right: 0 !important;
  }
  
  /* Adjust container to eliminate extra space */
  .testimonial-swiper .swiper-container {
    width: 100% !important;
    overflow: hidden !important;
  }
}
